@font-face {
    font-family: "times new roman";
    src: url("fonts/times_new_roman.eot") format("eot"), url("fonts/times_new_roman.ttf") format("ttf"), url("fonts/times_new_roman.woff") format("woff"),
url("fonts/times_new_roman.woff2") format("woff2");
}
body {
    margin: 0;
    font-family: "times new roman"
}

.b_1 {
    background: #EEEEEE;
    margin: 0 70.8px 20px 70.8px;
    overflow-x: scroll;
    white-space: nowrap;
    width: 80%;
    height: 150px;
}

.block_1 {
    background: red;
    color: black;
    display: inline-block;
    margin: 10px;
    padding: 5px;
    width: 350px;
}

.block_2 {
    background: red;
    color: black;
    display: inline-block;
    margin: 10px;
    padding: 5px;
    width: 350px;
}

.block_3 {
    background: red;
    color: black;
    display: inline-block;
    margin: 10px;
    padding: 5px;
    width: 350px;
}

.block_1_1 {
    position: absolute;
    background: red;
    height: 20px;
    width: 20px;
    top: 0;
    right: 0;
}

.block_1_2 {
    position: absolute;
    background: grey;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;

}

.block_1_3 {
    position: absolute;
    background: blue;
    width: 20px;
    height: 20px;
    bottom: 0;
    right: 0;
}

.block_1_4 {
    position: absolute;
    background: darkgreen;
    width: 20px;
    height: 20px;
    bottom: 0;
    left: 0;
}

.b_2 {
    background: #EEEEEE;
    margin: 20px 70.8px 20px 70px;
    height: 200px;
    position: relative;
    width: 80%;
}
.over{
    position: relative;
    margin: 0 12px;
    top: -5px;
}
.absol{
    margin: 20px;
    padding: 15px;
}